html, body {
  background-image: url('./columbia-river-gorge.jpg');
  background-attachment: fixed;

  /* Prevent scroll bounce */
  height: 100%;
  overflow: hidden;
}


.mainContainer {
  /* Prevent scroll bounce */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snapshots {
  height: 200px;
  width: 350px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  font-size: 30px;
  font-family: Georgia;
  color: green;
}

.description {
  color: #48a3ba;
}